  /* Responsive footer  */
@media only screen and (max-width: 768px) {

/* Header */
    #desktop-nav {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        justify-content: center;
        align-items: center;
        height: 17vh;
    }
    
    .nav-links {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .nav-links a:hover{
        text-underline-offset: 0.5rem;
    }
    
    #desktop-nav .logo {
        font-size: 1.5rem;
    }
    

/* Homepage */
    #profile,
    .ava-container{
        display: block;
    }

    #profile {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center align items */
        height: auto; /* Let the height adjust automatically */
        padding: 20px; /* Add padding for spacing */
    }

    .ava-container {
        height: auto; /* Let the height adjust automatically */
        width: 80%; /* Adjust width to fit smaller screens */
        margin: 20px auto; /* Center the container */
    }

    .ava-text1,
    .my-name {
        font-size: 2rem; /* Decrease font size for smaller screens */
    }

    .ava-container img {
        height: auto; /* Let the height adjust automatically */
        width: 100%; /* Make the image fill the container */
    }



    #about-me{
        width: 80%;
    }

    #schedule{
        display: block;
        margin: auto;
        width: 80%;
        text-align: center;
    }

/* Hometown and Favourite Page */
    article{
        width: 80%;
    }
    #trivia{
        display: block;
        width: 80%;
        float: none;
        margin-bottom: 2rem;
    }

/* Animation page */
    #captures {
        flex-direction: column; /* Stack images vertically */
        align-items: center; /* Center images vertically */
    }

    #captures img{
        margin-right: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


/* Footer */
    footer {
        padding: 50px 10%;
    }

    .columns {
        flex-direction: column;
    }

    .column1,
    .column2,
    .column3 {
        padding: 20px 0;
        text-align: center;
    }

    table.timetable {
        display: block;
        width: 100%;
        border-collapse: collapse;
        overflow-x: scroll;
        margin-top: 20px;
    }

}